@tailwind base;
@tailwind components;
@tailwind utilities;

.tengah {
  padding-left: 80px !important;
  padding-right: 80px !important;
  position: fixed !important;
  width: 100%;
}

.gradient {
  background: rgb(30,41,59);
background: linear-gradient(180deg, rgba(30,41,59,1) 0%, rgba(30,41,59,0.49343487394957986) 71%, rgba(255,255,255,0.7959558823529411) 100%);
}


@media only screen and (max-width: 767px) {
  .tengah {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
